body{
    background: linear-gradient(90deg, rgba(131,58,180,0.57999766801251746) 0%, rgba(227,204,118,0.50240663159795167) 50%, rgba(90,241,197,0.55758870442708337) 100%);
}
h3 {
    text-align: center;
    font-size: 45px;   
    margin: 20px;
    padding: 10px;
    background-image: url('./assets/background.jpg');
    background-position-x:right;
    background-position-y:bottom;
    background-repeat: repeat;
    background-clip: text;
    color: transparent;
}
hr {
    border-width: 2px;
    border-style:solid;
    width: 75%;
}
#main-div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}
.color {
    position: relative;
    width: 250px;
    height: 150px;
    border: 3px solid black;
    align-content: center;
    border-radius: 15px;
}
.color p:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    height: fit-content;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: rgb(149, 149, 149);
    letter-spacing: 2px;
    transform: translate(-50%,-50%);
}
.color p:nth-child(2) {
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: fit-content;
    height: fit-content;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    transform: translate(-50%,-50%);
}

.input-box {
    padding: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.input {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
}
input[type=number] {
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    border: 3px solid black;
    border-radius: 15px;
}
input[type=submit] {
    height: 35px; 
    background-color: rgb(123, 0, 255);
    color: white;
    font-weight: bold;
    border: 3px solid black;
    font-size:medium;
    border-radius: 15px;
}
input[type=submit]:hover{
    background-color: rgb(145, 64, 233);
}
